body {
  background-color: #FCFFE7;;
}

h1 {
  color: purple;
  font-family: arial, sans-serif;
  font-size: 20
}

h2 {
  color: purple;
  font-family: arial, sans-serif;
  font-size: 15
}
hr {
  background-color: none;
  border-style: none;
  border-top: solid;
  border-color: purple;
  border-width: 4px;


}

  h2{text-align: left;}
